*{
    padding: 0;
    margin: 0;
}
header,footer{
    background-color: rgb(97, 97, 248);
    text-align: center;
    padding: 10px;
}
main{
    text-align: left;
}
.team{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.member{
    margin: 20px;
    padding: 20px;
    border: 1px solid #967d7d;
    width: 250px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(160, 194, 225);
    

}
img{
    width: 100%;
    height: auto;
}
p {
    margin-top: 10px;
    font-size: 20px;  
}
.a1{
    color: rgb(94, 83, 69);
    font-weight: bold;
    margin-top:10px;
}
.spn{
    color: red;
}
